<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			
			<netTcpBinding>
				<binding name="StreamedTcp"
						 transferMode="Streamed"
						 maxReceivedMessageSize="2147483647"
						 maxBufferSize="65536">
					<security mode="None" />
				</binding>
			</netTcpBinding>
			
		</bindings>

		<services>
			<service name="Service.Services.ChargingService">
				
				<endpoint address="net.tcp://localhost:9001/ChargingService"
						  binding="netTcpBinding"
						  bindingConfiguration="StreamedTcp"
						  contract="Common.IChargingService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>
