<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<!-- jedino što eksplicitno stavljamo: bezbednost isključena -->
				<binding name="NoSec">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>

		<services>
			<!-- VAŽNO: "name" = puni naziv klase servisa -->
			<service name="Service.Services.ChargingService">
				<!-- Jedan endpoint sa apsolutnom adresom -->
				<endpoint address="net.tcp://localhost:9001/ChargingService"
						  binding="netTcpBinding"
						  bindingConfiguration="NoSec"
						  contract="Common.IChargingService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>
